.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
.header2-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header2-logo img {
  height: 20px;
  width: 50px;
  object-fit: contain;
}

.header2-logo {
  font-size: 1.3em;
  font-weight: 700;
  font-family: cursive;
  display: flex;
  text-align: center;
}
.header2-logo p {
  color: #59657c;
  font-weight: 650;
  font-size: 0.9em;
}
.header2-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-count {
  background-color: #d8213b;
  color: #ffffffe6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-weight: 600;
}
