.container {
  max-width: 460px;
}
.on-desktop {
  display: none;
}

@media (min-width: 481px) {
  .container {
    display: none;
  }
  .on-desktop {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    color: #ff9494;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.sneaker-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.cart-container {
  margin-top: 1em;
}
.sneaker-trending__container {
  padding: 0 0.5em;
  margin: 1.5em 0;
  width: 100%;
  overflow-x: scroll;
}
.scroller {
  display: flex;
  width: max-content;
  animation: scroll 100s linear infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
