.sneaker-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
a {
  color: black;
  background-color: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
button {
  padding: 1em 3em;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
button:active {
  background-color: #242429af;
}
.button1 {
  background-color: #242429;
  color: #ffffffe6;
}
.button2 {
  background-color: transparent;
  border: 1px solid #242429;
  color: #242429;
}
